SUPABASE_URL=https://utquriodilybpuoueymq.supabase.co
SUPABASE_ANON_KEY=sb_publishable_vbxAskOiwwBMcVN3R3A60w_6Rc2sFzA
SUPABASE_SERVICE_ROLE_KEY=sb_service_role_vbxAskOiwwBMcVN3R3A60w_6Rc2sFzA
SUPABASE_OAUTH_REDIRECT_URL=https://your-vercel-domain.vercel.app/auth/callback
PORT=4000